
.sidemenu{
    height: 100%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--ion-color-pure-white);
    overflow-x: hidden; /* Disable horizontal scroll */
    width: 65px;
    transition: .6s;
    margin-top: 60px;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    --ion-font-family:var(--font-family);
}
ion-label{
    font-family:var(--font-family);
}

.closewidth{
    width: 65px;
    .profile-wrapper{
        display: none;
    }
}
.openwidth{
    width: 240px;
}
.menuHeader{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .logo{
        height: 20px;
        width: 34px;
        margin-left: 24px;

    }
    .menuTitle{
        margin-left: 10px;
        white-space: nowrap;
    }
    ion-button{
        height: 40px;
        margin: 0 8px 0 0;
    }
    .arrowOutline{
        height: 16px;
        width: 16px;
        transition: 300ms transform cubic-bezier(0.25, 0.8, 0.5, 1);
        transform: rotate(0deg);
        &.show{
            transform: rotate(180deg);
        }
    }
}
.menuItem,.subMenuItem{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 11px;
    margin-right: 11px;
    border-radius: 42px;
    ion-icon{
        pointer-events: none;
        padding: 12px 14px;
        border-radius: 50%;
        color: black;
    }
    &.active{
        background-color: var(--main-text-color);
        color:white;
        ion-icon{
            color: white;
        }
    }
    &.active:hover{
        background-color: var(--main-text-color);
        color:white;
        ion-icon{
            color: white;
        }
    }
}
.version{
    position: relative;
    padding-bottom: 4px;
    padding-right: 10px;
    float: right;
    font-size: 11px;
}
.plansub{
    transition: .4s;
    visibility: hidden;
    opacity: 0;
    height: 0;
    &.showSubMenu {
        height: fit-content;
        visibility: visible;
        opacity: 1;
    }
}
.planMenuItem{
    color: var(--sub-title-color-second);
    padding: 6px 0px 6px 48px;
    margin-left: 11px;
    margin-right: 11px;
    border-radius: 42px;
    &.active{
        background-color: var(--main-text-color);
        color:white;
        ion-icon{
            color: white;
        }
    }
    &.active:hover{
        background-color: var(--main-text-color);
        color:white;
        ion-icon{
            color: white;
        }
    }
}
.menuBody{
    max-height: 420px;
    // overflow-y: scroll;
}
.subMenuItem{
    height: 0;
    transition: .4s;
    visibility: hidden;
    opacity: 0;
    margin-bottom: 8px;
    &.showSubMenu {
        height: 32px;
        visibility: visible;
        opacity: 1;
    }
}
.menuItem:hover{
    background-color: var(--hover-background);
}
.rotateicon{
    transform: rotate(315deg);
}
.menuiconopen{
    margin: 0 0 0 5px;
}
.menuiconopenprofile{
    margin: 0 0 6px 30px;
}
.menuiconopenlog{
    margin: 0 14px 0 19px;
}
.menuiconclose{
    margin: 0 auto;
}
.addicon{
    margin-left: auto;
}
.submenutitle{
    margin-left: 15px;
    height: 0;
    transition: .4s;
    visibility: hidden;
    opacity: 0;
    &.customShow {
        height: auto;
        visibility: visible;
        opacity: 1;
        --min-height: auto;
        margin: 0 0 8px 30px;
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;
    }
}
.access{
    --background:var(--main-theme);
    --color:var(--ion-color-pure-white);
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 10px;
    height: 0;
    transition: .4s;
    visibility: hidden;
    opacity: 0;
    font-size: 12px;
    font-weight: 400;
    padding: 12px 5px;
    &.customShow {
        visibility: visible;
        opacity: 1;
        
    }
}
.menuFooter{
    position: fixed;
    bottom: 0;
    .avatar-icon{
        height: 32px;
        width: 32px;
    }
    .logItem{
        display: flex;
        align-items: center;
        text-align: center;
        margin-left: 11px;
        margin-right: 11px;
        border-radius: 42px;
        ion-icon{
            margin-top: 8px;
            margin-bottom: 8px;
            color: black;
        }
    }
    .logItem:hover{
        background-color: var(--hover-background);
    }
}
.profile-wrapper{
    cursor: pointer;
    &.active{
        background-color: #0D0D0D;
        border-radius: 20px;
        margin: 0 12px 12px;
        padding: 10px 16px;
        ion-item{
            --background: transparent;
            --color: #fff;
            margin: 0 0 8px 0px;
        }
        .access{
            margin: 0;
        }
    }
}