<ion-content>
  <ion-progress-bar class="barprogress" color="main-theme ion-hide-sm-down" value="0.37"></ion-progress-bar>
  <ion-chip class="mainprogress ion-hide-sm-down">37%</ion-chip>
  <ion-img src="assets/images/logo_placeholder.svg" alt="Image error" class="logo_placeholder ion-hide-sm-down">
  </ion-img>
  <ion-item class="itemHeader ion-hide-sm-up" lines="none">
    <ion-buttons slot="start" class="backbox">
      <ion-button color="light" routerDirection="back" (click)="back()">
        <ion-icon src="assets/icon/arrowback.svg" >
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar class="barprogress" color="main-theme" value="0.37"></ion-progress-bar>
  </ion-item>
  <ion-chip class="mainprogress ion-hide-sm-up">37%</ion-chip>
  <div class="backBtn cursor-pointer ion-hide-sm-down" (click)="back()">
    <ion-icon src="assets/icon/arrowback.svg" color="light"></ion-icon>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col class="no-padding-bottom title" size-lg="6" size-md="6" size-sm="12" size-xl="6" size-xs="12">
        <ion-card-title>
          Setup your first formula for budgeting!
        </ion-card-title>
        <ion-card-subtitle class="ion-hide-sm-down">
          Below are our recommended ratios (you can make changes later at anytime)
        </ion-card-subtitle>

        <form class="labeltop">
          <div class="labelform">
            <ion-label class="formlabel" position="stacked">
              Percentage towards Living Expenses?
            </ion-label>
            <ion-icon name="help-circle-outline" helpText="Housing / Food / Utilities / Transport  / Other"
                      color="main-theme" class="ion-icon-small cursor-pointer" src="assets/icon/info.svg">
            </ion-icon>
          </div>
          <div class="enterPercent">
          <ion-item lines="none">
              <ion-icon src="assets/icon/percent.svg" slot="end">
              </ion-icon>
              <ion-input inputmode="numeric" mask="separator.10" thousandSeparator="" type="tel" inputmode="decimal" class="dollar-input"
              name="living" [(ngModel)]="data.living" (ngModelChange)="calculate($event)" debounce="50">
              </ion-input>
          </ion-item>
          <div class="percentValue">{{ (data.earnedIncome != 0 &amp;&amp; data.living != 0) ? ((data.earnedIncome *
              (data.living || 0) / 100) | currency : 'USD' : 'symbol' : '1.0-0') : &quot;$0&quot; }}</div>
          </div>
          <ion-item class="range" lines="none">
              <ion-range [pin]="true" mode="md" snaps="true" ticks="false" min="0" max="100" color="light" [(ngModel)]="data.living" name="living" (ngModelChange)="calculate($event)" debounce="50">
              </ion-range>
            </ion-item>
            <div class="labelform">
              <ion-label class="formlabel" position="stacked">
                Percentage towards Wealth Building?
              </ion-label>
              <ion-icon name="help-circle-outline" helpText="Seed capital used to create your unearned income"
                        color="main-theme" class="ion-icon-small cursor-pointer" src="assets/icon/info.svg">
              </ion-icon>
            </div>
            <div class="enterPercent">
            <ion-item lines="none">
                <ion-icon src="assets/icon/percent.svg" slot="end">
                </ion-icon>
                <ion-input inputmode="numeric" mask="separator.10" thousandSeparator="" type="tel" inputmode="decimal" class="dollar-input"
                name="wealth" [(ngModel)]="data.wealth" (ngModelChange)="calculate($event)" debounce="50">
                </ion-input>
            </ion-item>
            <div class="percentValue">{{ (data.earnedIncome != 0 &amp;&amp; data.wealth != 0) ? ((data.earnedIncome *
                (data.wealth || 0) / 100) | currency : 'USD' : 'symbol' : '1.0-0') : &quot;$0&quot; }}</div>
            </div>
            <ion-item class="range" lines="none">
                <ion-range [pin]="true" mode="md" snaps="true" ticks="false" min="0" max="100" color="light" [(ngModel)]="data.wealth" name="wealth" (ngModelChange)="calculate($event)" debounce="50">
                </ion-range>
            </ion-item>
            <div class="labelform">
              <ion-label class="formlabel" position="stacked">
                Percentage towards Charity or Giving
              </ion-label>
              <ion-icon name="help-circle-outline" helpText="Amount set aside for charitable activities"
                        color="main-theme" class="ion-icon-small cursor-pointer" src="assets/icon/info.svg">
              </ion-icon>
            </div>
          <div class="enterPercent">
          <ion-item lines="none">
              <ion-icon src="assets/icon/percent.svg" slot="end">
              </ion-icon>
              <ion-input inputmode="numeric" mask="separator.10" thousandSeparator="" type="tel" inputmode="decimal" class="dollar-input"
              name="giving" [(ngModel)]="data.giving" (ngModelChange)="calculate($event)" debounce="50">
              </ion-input>
          </ion-item>
          <div class="percentValue">{{ (data.earnedIncome != 0 &amp;&amp; data.giving != 0) ? ((data.earnedIncome *
              (data.giving || 0) / 100) | currency : 'USD' : 'symbol' : '1.0-0') : &quot;$0&quot; }}</div>
          </div>
          <ion-item class="range" lines="none">
              <ion-range [pin]="true" mode="md" snaps="true" ticks="false" min="0" max="100" color="light" [(ngModel)]="data.giving" name="giving" (ngModelChange)="calculate($event)" debounce="50">
              </ion-range>
          </ion-item>
          <div class="labelform">
            <ion-label class="formlabel" position="stacked">
              Do you have any Debt?
            </ion-label>
            <ion-icon name="help-circle-outline" helpText="Select yes if you have debts (liability accounts) you want to accerate payoff for more free cash flow towards wealth building"
                      color="main-theme" class="ion-icon-small cursor-pointer" src="assets/icon/info.svg">
            </ion-icon>
          </div>
          <ion-segment (ionChange)="segmentChanged($event)" mode="ios" [value]="haveDebt">
            <ion-segment-button [value]="true">
              <ion-label>Yes</ion-label>
            </ion-segment-button>
            <ion-segment-button [value]="false">
              <ion-label>No </ion-label>
            </ion-segment-button>
          </ion-segment>

          <div class="labelform" *ngIf="haveDebt">
            <ion-label class="formlabel" position="stacked">
              Percentage towards Debt Accelerator?
            </ion-label>
            <ion-icon name="help-circle-outline" helpText="To be applied towards Debt Payoff"
                      color="main-theme" class="ion-icon-small cursor-pointer" src="assets/icon/info.svg">
            </ion-icon>
          </div>
        <div class="enterPercent" *ngIf="haveDebt">
        <ion-item lines="none">
            <ion-icon src="assets/icon/percent.svg" slot="end">
            </ion-icon>
            <ion-input inputmode="numeric" mask="separator.10" thousandSeparator="" type="tel" inputmode="decimal" class="dollar-input"
            name="debt" [(ngModel)]="data.debt" (ngModelChange)="calculate($event)" debounce="50">
            </ion-input>
        </ion-item>
        <div class="percentValue">{{ (data.earnedIncome != 0 &amp;&amp; data.debt != 0) ? ((data.earnedIncome *
            (data.debt || 0) / 100) | currency : 'USD' : 'symbol' : '1.0-0') : &quot;$0&quot; }}</div>
        </div>
        <ion-item class="range" lines="none" *ngIf="haveDebt">
            <ion-range [pin]="true" mode="md" snaps="true" ticks="false" min="0" max="100" color="light" [(ngModel)]="data.debt" name="debt" (ngModelChange)="calculate($event)" debounce="50">
            </ion-range>
        </ion-item>

        <h3 *ngIf="data.customAccounts.length>0">Custom accounts</h3>

        <div *ngFor="let account of data.customAccounts; let i = index">
          <div class="customlabel">
              <ion-label class="formlabel" position="stacked">
                  {{account.label | titlecase}}
              </ion-label>
              <ion-icon (click)="removeCustomAccount(account.label)" src="assets/icon/trash.svg" slot="end" class="cursor-pointer"></ion-icon>
          </div>
          <div class="enterPercent">
          <ion-item lines="none">
              <ion-icon src="assets/icon/percent.svg" slot="end">
              </ion-icon>
              <ion-input inputmode="numeric" mask="separator.10" thousandSeparator="" type="tel" inputmode="decimal" class="dollar-input"
              name="custom-account-{{i}}" [(ngModel)]="account.value" (ngModelChange)="calculate($event)" debounce="50">
              </ion-input>
          </ion-item>
          <div class="percentValue">{{ (data.earnedIncome != 0 &amp;&amp; account.value != 0) ? ((data.earnedIncome *
              (account.value || 0) / 100) | currency : 'USD' : 'symbol' : '1.0-0') : &quot;$0&quot; }}</div>
          </div>
          <ion-item class="range" lines="none">
              <ion-range [pin]="true" mode="md" snaps="true" ticks="false" min="0" max="100" color="light" [(ngModel)]="account.value" name="custom-account-{{i}}" (ngModelChange)="calculate($event)" debounce="50">
              </ion-range>
          </ion-item>
      </div>

        <ion-button [disabled]="sumPercent==100?false:true" mode="ios" shape="round" class="save ion-hide-sm-down" (click)="saveToAccount()">
          Continue
          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-button>
        </form>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="12" size-xl="6" size-xs="12">
        <ion-row class="ion-hide-sm-up">
            <ion-item disabled="false" lines="none" class="overall fullwidth no-item-padding">
                <ion-label>
                    Earned Income:
                </ion-label>
                <ion-text>{{data.earnedIncome | currency : 'USD' : 'symbol' : '1.0-0'}}</ion-text>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-col size-lg="12" size-md="12" size-sm="4" size-xl="12" size-xs="4">
                    <canvas baseChart [datasets]="nd1ChartMeta.datasets" [labels]="nd1ChartMeta.labels" [options]="nd1ChartMeta.options"
                    chartType="doughnut" #myCanvas></canvas> 
            </ion-col>
            <ion-col size-lg="12" size-md="12" size-sm="8" size-xl="12" size-xs="8">
                <ion-item disabled="false" lines="none" class="overall ion-hide-sm-down">
                    <div>
                        <ion-label>
                           Earned Income
                        </ion-label>
                        <ion-text>$ {{data.earnedIncome | number:'1.0-0'}}</ion-text>
                    </div>
                </ion-item>
                <ion-item class="divider ion-hide-sm-down"></ion-item>
                <ion-item *ngIf="legendData?.length>0" lines="none">
                    <div class="my-legend fullwidth" #legendsItems>
                        <div class="legend-item fullwidth" *ngFor="let legendItem of legendData;let i=index;">
                            <div class="box" [style.background-color]="legendItem.fillStyle"></div>
                            <div class="boxText">{{legendItem.text}}</div>
                            <div class="boxValue">{{ this.nd1ChartMeta.datasets[0].data[i] }}%</div>
                        </div>
                    </div>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item class="divider ion-hide-sm-down"></ion-item>
                <ion-item lines="none" class="no-item-padding">
                    <div class="fullwidth">
                        <div class="legend-item total fullwidth">
                            <div>Total sum:</div>
                            <div class="boxValue">{{sumPercent}}%</div>
                        </div>
                    </div>
                </ion-item>
                <ion-item *ngIf="sumPercent<100" lines="none" class="no-item-padding">
                    <div class="warning fullwidth">
                        <ion-icon name="information-circle-outline"></ion-icon>
                        Your total sum of budgeting is less than 100%
                    </div>
                </ion-item>
                <ion-item *ngIf="sumPercent>100" lines="none" class="no-item-padding">
                    <div class="warning fullwidth">
                        <ion-icon name="information-circle-outline"></ion-icon>
                        Your total sum of budgeting is overuse 100%
                    </div>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-col>
    </ion-row>
  </ion-grid>
  <div class="savebtn ion-text-center">
    <ion-button [disabled]="sumPercent==100?false:true" mode="ios" shape="round" class="save ion-margin-top fullbtn ion-hide-sm-up" (click)="saveToAccount()">
      Continue
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
