.freedom-number-details-content {
    --ion-font-family:var(--font-family);
    --padding-bottom:24px;
    ion-card-title{
        margin-top: 19px;
        color:var(--main-text-color);
    }
    ion-card-subtitle{
        text-transform: none;
        margin-top: 6px;
        color: var(--sub-title-color);
        font-size: 14px;
        font-weight: 400;
    }
    .freedomtitle ion-text{
        font-size: 28px;
    }
    .congrats-banner{
        margin-top: 24px;
        margin-bottom: 40px;
        background: var(--dark-background) url('../../assets/images/moac.png') right no-repeat;
        background-size: auto 100%;
        color: var(--ion-color-pure-white);
        min-height: 222px;
        border-radius: 20px;
        padding: 32px;
        .title{
            font-size: 28px;
        }
        .subtitile{
            margin-top: 16px;
            font-size: 16px;
            margin-bottom: 8px;
        }
        .details{
            margin: 8px 0;
            padding: 8px 16px;
            font-size: 14px;
            border: 1px solid var(--border-six-color);
            box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
            border-radius: 24px;
            width: fit-content;
        }
        .warnicon{
            transform: scale(1.2) translateY(1px);
            margin-right: 6px;
        }
    }
    .chartTitle{
        margin-top: 40px;
        font-size: 28px;
        margin-bottom: 24px;
    }
    .yearTitle{
        font-size: 28px;
        margin-top: 40px;
        margin-bottom: 24px;
    }
    .results-section {
        font-size: 16px;
        padding: 15px 22px 22px;
        background: var(--hover-background);
        border: 1px solid var(--border-two-color);
        border-radius: 20px;
        margin-bottom: 35px;
        ion-col{
            display: flex;
            justify-content: space-between;
            &::after{
                content: '';
                width: calc(100% - 32px);
                position: absolute;
                left: 16px;
                bottom: 0;
                height: 1px;
                background: var(--border-three-color);
            }
            &:last-child{
                &::after{
                    width: 0px;
                }
            }
            .calculation{
                color: var(--main-theme);
            }
        }
    }
    form {
        .assetToggle {
            border-bottom: 1px solid var(--border-two-color);
            padding-bottom: 10px;
            margin-bottom: 40px;
        }
        ion-toggle.toggle-form{
            --background:transparent;
            --background-checked:transparent;
            --handle-background:var(--main-text-color);
            --handle-background-checked:var(--main-text-color);
            height: 28px;
            --handle-height: 28px;
            --handle-width: 24px;
        
            opacity: 0.5;
            &::part(track){
                border: 1px solid var(--main-text-color);
            }
            &.toggle-checked{
                opacity: 1;
            }
        }
        .assetResult{
            ion-item{
                --border-width: 0px;
                --min-height: 0px;
                margin-top: 0px;
            }
            ion-label{
                font-size: 20px;
                color: var(--main-text-color);
            }
            ion-icon{
                color: var(--main-theme);
                transform: scale(0.65);
            }
            .accounts-list{
                margin: 0 0 12px 0;
                border: 1px solid var(--border-two-color);
                background: var(--ion-color-pure-white);
                box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
                border-radius: 16px;
            }
            .accountName{
                padding-left: 32px;
                padding-top: 32px;
                font-size: 22px;
                color: var(--main-text-color);
            }
            .accountDescription{
                padding-top: 10px;
                padding-left: 32px;
                color: var(--sub-title-color);
                margin-bottom: 8px;
            }
            .accountBalanceBox{
                display: flex;
                padding-left: 32px;
                justify-content: space-between;
                margin-top: 18px;
                align-items: center;
            }
            .accountBalance{
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                color: var(--main-text-color);
                min-width: 40%;
                div{
                    margin-right: 10px;
                }
            }
            .balance{
                font-size: 22px;
                color: var(--main-theme);
                padding-right: 32px;
            }
        }
        ion-item.otherLinks {
            --border-width: 0px;
            --padding-start: 0px;
            --inner-padding-end: 0px;
            --min-height: 60px;
            border-bottom: 1px solid var(--border-two-color);
            ion-icon {
                scale: 0.6;
            }
        }
        ion-item.otherLinks ion-label, ion-item.otherLinks ion-text {
        font-size: 22px;
        }
        ion-item.toogleItems{
            --border-width: 0px;
            --padding-start: 0px;
            --inner-padding-end: 0px;
            ion-label{
                font-size: 16px;
            }
            ion-text{
                font-size: 22px;
                margin-right: 46px;
                margin-left: 0;
            }
            ion-toggle{
                margin-top: 7px;
                margin-bottom: 14px;
            }
            .iconAlign{
                vertical-align: middle;
                display: inline-block;
            }
        }
        ion-item {
            margin: 12px 3px 5px 0;
            --border-width: 1px; 
            --border-color: var(--border-one-color);
            --padding-start: 17px;
            --min-height: 44px;
            ion-icon.dollar {
                margin-inline-end: 12px;
            }    
        }
        ion-text{
            font-size: 12px;
        }
    }   
    ion-button{
        text-transform: none;
        font-weight: 600;
    } 
    ion-button.save{
        margin-bottom: 43px;
    }
    ion-button.cancel{
        margin-top: 40px;
        margin-bottom: 48px;
        font-size: 16px;
    }
    ion-card-subtitle.contentalign{
        text-transform: none;
        font-size: 14px;
        color: var(--sub-title-color);
        font-weight: 400;
        margin-top: 8px;
    }
    .contentchartalign{
        --padding-start:0px;
        --inner-padding-end:0px;
    }
    .tresult.accordion-expanded{
        background: var(--tutorial-background);
    }
    .tresult{
        ion-item{
            --background:transparent;
            --background-hover:transparent;
            --background-activated:transparent;
            display: flex;
            align-items: flex-end;
        }
        ion-icon{
            border: 1px solid rgb(94%,94%,94%);
            border-radius: 50%;
            padding: 10px;
            background:var(--ion-color-pure-white);
            color: var(--main-text-color);
            &.disabled{
                color: var(--disabled-theme);
            }
        }
        ion-icon:hover{
            background: var(--main-theme-hover);;
            color: var(--ion-color-pure-white);
        }
        ion-icon:active{
            background: var(--main-theme-activated);
            color: var(--ion-color-pure-white);
        }
        .accounts-list{
            padding-bottom: 0;
            margin: 0 0 12px 0;
            border: 1px solid var(--border-two-color);
            background: var(--ion-color-pure-white);
            box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
            border-radius: 16px;
            &:hover{
                ion-icon.nextLiability{
                    display: inline-block;
                    font-size: 22px;
                    background: none;
                }
            }
        }
        .accountName{
            padding: 12px 0 2px 30px;
            font-size: 24px;
            color: var(--ion-color-danger);
            ion-icon.nextLiability{
                transform: scaleX(-1) translateY(3px);
                display: none;
                color: var(--ion-color-danger);
                border: none;
                padding: 0;
            }
        }
        .accountDescription{
            padding-left: 32px;
            color: var(--sub-title-color);
            margin-bottom: 4px;
            font-size: 14px;
        }
        .accountBalanceBox{
            display: flex;
            padding-left: 32px;
            justify-content: space-between;
            margin-top: 14px;
            margin-bottom: 4px;
            align-items: center;
        }
        .accountBalance{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            font-size: 16px;
            color: var(--main-text-color);
            min-width: 40%;
            div{
                margin-right: 10px;
                margin-bottom: 2px;
                &.amountBox{
                    width: 147px;
                    margin-bottom: 0;
                }
                &.amountText{
                    font-size: 14px;
                    color: var(--sub-title-color-second);
                }
            }
        }
        .balance{
            font-size: 22px;
            color: var(--main-theme);
            padding-right: 32px;
        }
    }
    .section-title{
        font-size: 28px;
        margin-bottom: 26px;
        margin-top: 40px;
    }
    .tips{
        display: flex;
    }
    .section-sub-title-instruct,.section-sub-title-tip{
        font-size: 16px;
        color: var(--ion-color-pure-white);
        border-radius: 16px;
        padding: 6px 16px;
        margin-top: 20px;
        margin-bottom: 24px;
        width: fit-content;
        display: flex;
        align-items: center;
        ion-icon{
            border: none;
            background: none;
            padding: 0px;
            margin-left: 10px;
            color: var(--ion-color-pure-white);
            font-size: 18px;
            &:hover{
                background: none;
            }
        }
    }
    .section-sub-title-instruct{background: var(--btn-background);}
    .section-sub-title-tip{background: var(--main-theme);margin-left: 8px;}
    .my-legend{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 33px;
        margin-left: 5px;
    }
    .compound-return-table {
        margin-bottom: 32px;
    }
    canvas{
        transform: translateX(-4px);
    }
    .toggleslot{
        font-size: 20px;
    }
    app-box-select{
        ::ng-deep p{
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    @media (max-width: 39.9375em) {
        canvas{
            height: 165px !important;
        }
        ion-card-title{
            font-size: 16px;
            margin-top: 7px;
        }
        .boxselect{
            margin-bottom: 16px;
            .formLabel{
                font-size: 16px;
            }
        }
        .tips{
            margin-left: 18px;
        }
        .congrats-banner-mobile{
            margin-top: 26px;
            height: 249px;
            transform: translateY(2px);
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 61.51%, #0D0D0D 84.81%),url('../../assets/images/moac.png');
		    background-position-x: center;
		    background-position-y: top;
		    background-size: 100vw;
		    background-repeat: no-repeat;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        .congrats-banner{
            margin-top: 0px;
            padding-top: 0px;
            margin-bottom: 27px;
            background: var(--dark-background);
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            .title{
                font-size: 20px;
            }
            .subtitile{
                font-size: 14px;
            }
        }
        .chartTitle{
            margin-top: 32px;
            font-size: 20px;
        }
        .yearTitle{
            margin-top: 32px;
            font-size: 20px;
        }
        .section-title{
            font-size: 20px;
        }
        ion-button.save{
            margin-top: 32px;
            margin-bottom: 8px;
        }
        ion-button.cancel{
            margin-top: 0;
            margin-bottom: 16px;
        }
        .freedomtitle ion-text{
            font-size: 18px;
        }
        form{
            .assetResult{
                ion-label{
                    font-size: 16px;
                }
                .accountName{
                    font-size: 16px;
                }
                .balance{
                    font-size: 16px;
                }
            }
            .earneditem{
                margin: 12px 0 16px 0;
            }
            ion-item{
                &.range{
                    &:last-child{
                        margin-bottom: 9px;
                    }
                }
            }
            ion-item.otherLinks {
                margin-top: 14px;
                --min-height: 32px;
            }
            ion-item.otherLinks ion-label, ion-item.otherLinks ion-text {
                font-size: 16px;
            }
            ion-item.toogleItems{
                margin: 5px 0px 5px 0;
                ion-label{
                    font-size: 16px;
                }
                ion-text{
                    font-size: 16px;
                }
            }
            ion-item.mobileBalance{
                margin: 0px;
                --border-width: 0px;
                --min-height: 0px;
                float: right;
                ion-text{
                    font-size: 16px;
                    &.ios{
                        margin-right: 40px;
                    }
                    &.md{
                        margin-right: 35px;
                    }
                }
            }
            ion-item.slider-toggles {
                margin: 0;
            }
        }
        .my-legend{
            margin-top: 0px;
        }
        .legend-item.total{
            margin-top: -20px;
        }
        .contentaligntutorial{
            padding: 14px 24px;
            margin: 0 16px;
            margin-top: 22px;
            border: 1px solid var(--border-two-color);
            border-radius: 16px;
            background: var(--hover-background);
        }
        .subheading{
            font-size: 16px;
        }
        .boxValue{
            margin-right: 7px;
        }
        .tresult{
            align-items: flex-start;
            &.assets{
                padding: 0;
                margin-bottom: 20px;
                ion-item{
                    --border-width: 0px;
                    ion-label{
                        margin-top: 12px;
                    }
                    &.divider{
                        --min-height: 5px;
                        --padding-start: 0px;
                        --border-color: var(--border-three-color);
                        margin: 0;
                        --border-width: 0;
                    }
                }
                .accountName{
                    color: var(--ion-color-success);
                }
            }
            ion-item{
                align-items: flex-start;
                margin-top: 20px;
                --inner-padding-end: 0px;
                ion-label{
                    font-size: 20px;
                }
                &.divider{
                    margin-top: 0px;
                }
                .resultsubheading{
                    margin-top: 13px;
                }
                .resulttext{
                    margin-bottom: 5px;
                }
            }
            .toggleslot{
                margin-top: 0px;
            }
            .accounts-list{
                margin: 0px 16px 8px;
                box-shadow: none;
            }
            .accounts-list:not(:first-of-type){
                margin-top: 0px;
                padding-bottom: 2px;
            }
            .accountDescription{
                padding-top: 0;
                padding-left: 24px;
                font-size: 12px;

            }
            .accountBalanceBox{
                padding-left: 24px;
                margin-top: 8px;
                flex-wrap: wrap;
            }
            .accountBalance {
                div {
                    &.amountBox{
                        font-size: 14px;
                        margin-top: 6px;
                        margin-bottom: 0;
                    }
                    &.amountText{
                        font-size: 12px;
                        margin-bottom: 2px;
                    }
                }
            }
            .accountName{
                font-size: 16px;
                padding-left: 24px;
                padding-top: 8px;
                padding-right: 24px;
                ion-icon.nextLiability{
                    display: inline-block;
                    font-size: 22px;
                    background: none;
                }
            }
            .balance{
                font-size: 16px;
                margin-top: 8px;
                padding-right: 200px;
            }
        }
        ion-item.mobile-align{
            margin-right: 16px;
            margin-left: 16px;
        }
        .mobile-align{
            margin-right: 16px;
            margin-left: 16px;
        }
        .accountarea{
            ion-item.divider{
                padding-left: 24px;
                padding-right: 24px;
            }
        }
    }
    @media (min-width: 40em) {
        .outalign{
            margin-right: 95px;
            margin-left: 95px;
        }
        form{
            .earneditem{
                margin: 12px 0 24px 0;
            }
        }
        .boxselect{
            margin-bottom: 22px;
            .formLabel{
                font-size: 22px;
            }
        }
        .labeltop{
            margin-top: 20px;
        }
        .chartalign{
            margin-top: 15px;
        }
        .contentaligntutorial{
            margin-left: 97px;
            margin-right: 72px;
        }
        canvas{
            height: 221px !important;
        }
        .contentalign{
            margin-left: 85px;
            margin-right: 45px;
        }
        .contentalignbutton{
            margin-left: 97px;
            margin-right: 0px;
        }
        .contentaligntutorial{
            margin-left: 97px;
            margin-right: 72px;
        }
        .freedom-background{
            max-width: 1252px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 32px;
            background: var(--ion-color-pure-white);
        }
        .header-top{
            padding-top: 38px;
        }
        .subheading{
            margin-top: 10px;
            font-size: 18px;
        }
        .tresult{
            padding-left: 97px;
            padding-right: 72px;
            padding-top: 6px;
            padding-bottom: 28px;
            &.assets{
                padding: 0;
                margin-bottom: 20px;
                ion-item{
                    --border-width: 0px;
                    ion-label{
                        margin-top: 12px;
                    }
                    &.divider{
                        --min-height: 5px;
                        --padding-start: 0px;
                        --border-color: var(--border-three-color);
                        margin: 0;
                        --border-width: 0;
                    }
                }
                .accountName{
                    color: var(--ion-color-success);
                }
            }
            ion-item.otheritem{
                margin-top: 38px
            }
            ion-item.divider{
                height: 5px;
            }
            ion-item{
                --padding-start: 0px;
                --inner-padding-end: 0px;
                height: 85px;
                ion-label{
                    margin-top: 40px;
                    font-size: 28px;
                    margin-bottom: 12px;
                    p{
                        margin-bottom: 30px;
                    }
                }
            }
        }
        .results-section{
            ion-col{
                &:nth-last-child(2){
                    &::after{
                        width: 0px;
                    }
                }
            }
        }
    }
}

.box{
    height: 16px;
    width: 12px;
    flex-shrink: 0;
}
.boxText{
    margin-left: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.my-legend{
    margin-top: 8px;
}
.boxValue{
    margin-left: auto;
}
.legend-item{
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 9px;
    font-size: 16px;
    width: fit-content;
    margin-right: 24px;
    min-width: 0;
}
h3{
    margin-top: 6px;
}
// .ios .add-icon {
//     margin: 0px;
//     margin-right: -6px;
//     height: auto;
// }

// .white-background {
//     background-color: white;
// }

// .ml-5 {
//     margin-left: 5px;
// }

// .ml-10 {
//     margin-left: 10px;
// }

// .mr-10 {
//     margin-right: 10px;
// }

// .mt-10 {
//     margin-top: 10px;
// }

// .mb-10 {
//     margin-bottom: 10px;
// }

// ion-item-sliding.md.hydrated {
//     margin-top: 25px;
//     .input-wrapper {
//        margin-bottom: 25px; 
//     }
// }

// div.popover-content.sc-ion-popover-md {
//     left: 162px !important;
//     width: 300px !important;
// }

// .header-fix {
//     position: relative;
//     top: -24px;
//     left: 18px;
// }

// .button-fix {
//     position: relative;
//     top: 14px;
// }

// .paid-off-text {
//     color: 666;
//     font-size: 15px;
// }

// .payoff-order-text {
//     font-size: 14px;
//     font-weight: 500;
// }

// .debt-divider {
//     min-height: 2px;
//     color: #666666;
// }

// ion-text,ion-label {
//     font-size: 15px!important;
//     font-weight: 500;
// }

// .white-space-normal{
//     white-space: normal!important;
// }

// .ion-select-max-width-100  {
//     max-width: 100% !important;
//     font-size: 15px;
//     font-weight: 500;
// }

// .tip-text {
//     font-style: italic;
// }
