.accounts-content .signup-form{
    --padding-left: 35px;
    --padding-right: 35px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}
.ios .add-icon {
    margin: 0px;
    margin-right: -6px;
    height: auto;
}


.mt-5 {
    margin-top: 5px;
}

ion-card-header {
    padding-bottom: 5px;
}


ion-card {
    margin: 10px;
    background: #FFFFFF;
}

.checklist-title {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #333;
}

.checklist-subtitle {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #666;
    text-transform: none;
}
