.freedom-number-details-content {
    form {
        //margin: 0 35px;
        ion-item {
            margin: 5px 0;
            /*
            ion-icon.dollar {
                position: absolute;
                top: 18px;
                left: 12px;
                font-size: 14px;
            }
            */
            
        }
    }    
}

.ios .help-icon {
    margin: 0px;
    margin-right: -6px;
    height: auto;
}

ion-footer {
    --ion-color-primary: #2C3E50;
}
