/**
.article-author {
	margin-top: 15px !important;

    font-family: "Helvetica neue";
    font-weight: normal !important;
    font-style: normal;
    font-variant: normal;
    font-size: 11px !important;

    word-wrap: break-word;
}
**/

.article-image {
	height: 250px !important;
	object-fit: cover;
}

.article-title {
    margin-top: 15px !important;
	color: rgb(51, 51, 51);
    font-family: "Lato";
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.2;
	padding: 8px 0;
}

ion-card {
    margin: 10px;
    background: #FFFFFF;
}
