.calculator-row {
    align-items: center;
/*    .article-author {
    	margin-top: 15px !important;

        font-family: "Helvetica neue";
        font-weight: normal !important;
        font-style: normal;
        font-variant: normal;
        font-size: 11px !important;

        word-wrap: break-word;
    }*/


.calculator-title {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #333;
}

.calculator-subtitle {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #666;
    text-transform: none;
}

    .article-image {
    	height: 250px !important;
    	object-fit: cover;
    }

/*    .article-title {
    	color: rgb(51, 51, 51);
        font-family: "Helvetica neue";
    	font-weight: normal;
    	font-style: normal;
    	font-variant: normal;
    	font-size: 17px;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	line-height: 1.2;
    }*/
}
:host { 
    // needed to preserve 4*3 aspect ratio
    .image-wrapper {
        padding-top: 75%;
        .resource-image {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            object-fit: cover;
        }
    }
    ion-segment {
        margin: 10px 0;
    }
    ion-card {
        margin: 10px;
        ion-grid {
            padding-top: 5px;
            padding-bottom: 5px;
            .resource-image {
                padding: 10px;
            }
        }
    }
}
